*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
}

body{       
    background-color: #14526e;
    margin: 0 auto;
    width: 85%;
    height: auto;
}

.cabecera{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2% 1%;
    background: #63909c;
    
}
.cabecera h1{
    width: 85%;
}

.cabecera img{
    width: 25px;
    height: 25px;
}

.navegacion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.navegacion__item{
    display: inline;
}

.navegacion__item a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: 0.8s ease;
    background-color: transparent;
}

.navegacion__item a:hover{
    color: brown;
}

.divisor{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}

.indice{
    width: 29.5%;
    border: 1px solid;
    padding: 5px 15px;
    background-color: aliceblue;
}

.contenido{
    width: 69.5%;
    border: 1px solid;
    padding: 5px 15px;
    background-color: aliceblue;
}

.texto{
    margin-bottom: 10px;
}